<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Category  </span>
          </div>
          <ul>
            <li><h6>Technology</h6></li>
            <li><h6>Beauty and Personal care</h6></li>
            <li><h6>Clothing</h6></li>
            <li><h6>Luggage</h6></li>
            <li><h6>Toys and Game</h6></li>
            <li><h6>School Stuff</h6></li>
            <li><h6>Car Accessorie</h6></li>
            <li><h6>Shoes</h6></li>
            <li><h6>Food & Beverage</h6></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                Search Entire Site
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="Please enter keyword?">
              <button type="submit" class="site-btn">Search</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>+91 9876543210</h5>
              <span>Support 24/7 Active</span>
            </div>
          </div>
        </div>
        <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg"
          style="background-image: url(&quot;https://static.vecteezy.com/system/resources/previews/005/454/927/non_2x/mobile-phone-represent-of-front-of-shop-store-shopping-online-on-website-or-mobile-application-concept-marketing-and-digital-marketing-free-vector.jpg&quot;);">


        </div>
      </div>
    </div>
  </div>
</section>